---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import type { Product } from "../types/Product";
import productData from "../data/products.json";
const productExample: Product[] = productData;
---

<Layout title="Frutillita creaciones">
	<div>
		<h1 class="font-nerko text-5xl text-[#3D3D3F] text-center pt-3">
			Catalogo🍓
		</h1>
		<div
			class="pt-8  flex-col px-5 grid grid-cols-1 md:grid-cols-3 md:gap-5"
			id="container-catalog"
		>
			{
				productExample.map((product) => (
					<ProductCard
						id={product.id}
						nameProduct={product.nameProduct}
						description={product.description}
						extra={product.extra}
						price={product.price}
						images={product.images}
					/>
					<hr class="h-[.5px] my-4 bg-gray-400 border-0 md:hidden" />
				))
			}
		</div>
		
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);

		font-size: 20px;
		line-height: 1.6;
	}
</style>
